{% extends 'base.html.twig' %} 
{% block title %}Home{% endblock %}
{% block pageTitle %}Home{% endblock %}
{% block body %}

<img src="{{asset("Photos/cinema.png") }}" width="400px"  />
<h1 style="margin-top:200px;margin-left:200px">Bienvenue sur le site de Filmipédia </br> vous cherchez des films ?</br> nous avons mis des suggestions à votre disposition </h1>
{% endblock %}